$font-deafult: "Gilroy", "Arial", sans-serif;

$desktop-width: 1700px;
$desktop-width-only: 1920px;

$basic-white: #ffffff;
$basic-black: #000000;
$basic-melrose: #B7C0FF;
$basic-zodiac: #131A57;
$basic-cornflower-blue: #6B7DFF;
$basic-bay-of-many: #283593;
